<%#nav section#%>

<body>

<nav class="navbar">
    <div class="navbar-brand">
        <%= link_to root_path do %>
        <%= image_tag "https://www.redditinc.com/assets/images/site/reddit-logo.png", class: "navbar-image" %>
        <% end %>
        <h1 class="title">Micro-Reddit</h1>
     

    </div>
    <%# link all posts  %>
    <div class = "btn-left">
        <div class="navbar-end">   
        <div class="btn-container">
            <%= link_to "HOME", root_path,class:"home_article" %>
            <%= link_to "NEW ", new_post_path,class:"new_article" %>
        </div>
        
        </div>
        <div class="btn-new">
            <%= render 'user/session_manager' %>
        </div>


    </div>
</nav>

</body>